.hidden {
  display: none;
}

.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  line-height: 1.2;
}

.supsub sub {
  top: 0.3em;
}

sup {
  color: green;
}

sub {
  color: red;
}
