<h1>Weather App</h1>
<label for="city">Enter City:</label>
<input type="text" id="city" #city>
<button (click)="getWeather(city.value)">Get Weather</button>
<br><br><br>
<table class="table">
  <tr>
    <td>Location:</td>
    <td>{{location}}</td>
  </tr>
  <tr>
    <td>Current Temp:</td>
    <td>
      {{currentTemp}}
      <span class='supsub'>
        <sup class='superscript'>{{max}}</sup>
        <sub class='subscript'>{{min}}</sub>
      </span>
    </td>
  </tr>
  <tr>
    <td>Feels Like:</td>
    <td>{{feelsLike}}</td>
  </tr>
  <tr>
    <td>Humidity:</td>
    <td>{{humidity}}</td>
  </tr>
</table>